*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --transition-duration: .3s;
}
:root[data-theme="dark"] {
  --bg-color: #3a4663;
  --color-text-body: #434a59;
  --color-text-header: #fff;
  --color-bg-controls: #242d44;
  --color-bg-circle: #d03f2f;
  --color-bg-circle-hover: #f96b5b;
  --color-bg-input: #181f33;
  --color-text-input: #fff;
  --color-bg-key: #eae3dc;
  --color-bg-key-hover: #fffffe;
  --color-bg-key-active: #e6d5c4;
  --color-shadow-key: #b3a497;
  --color-bg-key-command: #647198;
  --color-text-key-command: #fff;
  --color-bg-key-command-hover: #a2b2e1;
  --color-bg-key-command-active: #546084;
  --color-shadow-key-command: #414e73;

  --color-bg-key-equal: #d03f2f;
  --color-text-key-equal: #fff;
  --color-bg-key-equal-hover: #f96b5b;
  --color-bg-key-equal-active: #ac382b;
  --color-shadow-key-equal: #93261a;
}
:root[data-theme="light"] {
  --color-bg-body: #e6e6e6;
  --color-text-body: #36362c;
  --color-text-header: #36362c;
  --color-bg-controls: #d2cdcd;

  --color-bg-circle: #c85402;
  --color-bg-circle-hover: #ff8a38;
  --color-bg-input: #eee;
  --color-text-input: #36362c;
  --color-bg-key: #e5e4e1;
  --color-bg-key-hover: #fff;
  --color-bg-key-active: #cfcecb;
  --color-shadow-key: #a79e91;

  --color-bg-key-command: #378187;
  --color-text-key-command: #fff;
  --color-bg-key-command-hover: #62b5bc;
  --color-bg-key-command-active: #33757b;
  --color-shadow-key-command: #1b6066;

  --color-bg-key-equal: #c85402;
  --color-text-key-equal: #fff;
  --color-bg-key-equal-hover: #ff8a38;
  --color-bg-key-equal-active: #b14a00;
  --color-shadow-key-equal: #873901;
}

:root[data-theme="vintage"] {
  --bg-color: #17062A;
  --color-text-body: #FFE53D;
  --color-text-header: #FFE53D;
  --color-bg-controls: #1E0936;
  --color-bg-circle: #00DED0;
  --color-bg-circle-hover: #93FFF8;
  --color-bg-input: #1E0936;
  --color-text-input: #FFE53D;
  --color-bg-key: #331C4D;
  --color-bg-key-hover: #6C34AC;
  --color-bg-key-active: #261539;
  --color-shadow-key: #881C9E;

  --color-bg-key-command: #56077C;
  --color-text-key-command: #fff;
  --color-bg-key-command-hover: #8631AF;
  --color-bg-key-command-active: #3f0759;
  --color-shadow-key-command: #BE15F4;

  --color-bg-key-equal: #00DED0;
  --color-text-key-equal: #1A2327;
  --color-bg-key-equal-hover: #93FFF8;
  --color-bg-key-equal-active: #01bcb0;
  --color-shadow-key-equal: #6CF9F1;
}

html{
  font-size: 62.5%;
}

body{
  font-family: "League Spartan", "Arial", sans-serif;
}

.app{
  height: 100vh;
  background-color: var(--bg-color);  
}
.container{
  width: 35rem;
  margin: 0 auto;
}

/* toggling themes */

[data-theme="dark"] .circle,
.theme__switcher-radio#dark:checked ~ .theme-switcher__control .circle {
  transform: translateX(0);
}

[data-theme="light"] .circle,
.theme__switcher-radio#light:checked ~ .theme-switcher__control .circle {
  transform: translateX(2.3rem);
}

[data-theme="vintage"] .circle,
.theme__switcher-radio#vintage:checked ~ .theme-switcher__control .circle {
  transform: translateX(4.5rem);
}