*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
:root{
  --transition-duration: .3s;
}
:root[data-theme="dark"] {
  --bg-color: #3a4663;
  --color-text-body: #434a59;
  --color-text-header: #fff;
  --color-bg-controls: #242d44;
  --color-bg-circle: #d03f2f;
  --color-bg-circle-hover: #f96b5b;
  --color-bg-input: #181f33;
  --color-text-input: #fff;
  --color-bg-key: #eae3dc;
  --color-bg-key-hover: #fffffe;
  --color-bg-key-active: #e6d5c4;
  --color-shadow-key: #b3a497;
  --color-bg-key-command: #647198;
  --color-text-key-command: #fff;
  --color-bg-key-command-hover: #a2b2e1;
  --color-bg-key-command-active: #546084;
  --color-shadow-key-command: #414e73;

  --color-bg-key-equal: #d03f2f;
  --color-text-key-equal: #fff;
  --color-bg-key-equal-hover: #f96b5b;
  --color-bg-key-equal-active: #ac382b;
  --color-shadow-key-equal: #93261a;
}
:root[data-theme="light"] {
  --color-bg-body: #e6e6e6;
  --color-text-body: #36362c;
  --color-text-header: #36362c;
  --color-bg-controls: #d2cdcd;

  --color-bg-circle: #c85402;
  --color-bg-circle-hover: #ff8a38;
  --color-bg-input: #eee;
  --color-text-input: #36362c;
  --color-bg-key: #e5e4e1;
  --color-bg-key-hover: #fff;
  --color-bg-key-active: #cfcecb;
  --color-shadow-key: #a79e91;

  --color-bg-key-command: #378187;
  --color-text-key-command: #fff;
  --color-bg-key-command-hover: #62b5bc;
  --color-bg-key-command-active: #33757b;
  --color-shadow-key-command: #1b6066;

  --color-bg-key-equal: #c85402;
  --color-text-key-equal: #fff;
  --color-bg-key-equal-hover: #ff8a38;
  --color-bg-key-equal-active: #b14a00;
  --color-shadow-key-equal: #873901;
}

:root[data-theme="vintage"] {
  --bg-color: #17062A;
  --color-text-body: #FFE53D;
  --color-text-header: #FFE53D;
  --color-bg-controls: #1E0936;
  --color-bg-circle: #00DED0;
  --color-bg-circle-hover: #93FFF8;
  --color-bg-input: #1E0936;
  --color-text-input: #FFE53D;
  --color-bg-key: #331C4D;
  --color-bg-key-hover: #6C34AC;
  --color-bg-key-active: #261539;
  --color-shadow-key: #881C9E;

  --color-bg-key-command: #56077C;
  --color-text-key-command: #fff;
  --color-bg-key-command-hover: #8631AF;
  --color-bg-key-command-active: #3f0759;
  --color-shadow-key-command: #BE15F4;

  --color-bg-key-equal: #00DED0;
  --color-text-key-equal: #1A2327;
  --color-bg-key-equal-hover: #93FFF8;
  --color-bg-key-equal-active: #01bcb0;
  --color-shadow-key-equal: #6CF9F1;
}

html{
  font-size: 62.5%;
}

body{
  font-family: "League Spartan", "Arial", sans-serif;
}

.app{
  height: 100vh;
  background-color: var(--bg-color);  
}
.container{
  width: 35rem;
  margin: 0 auto;
}


/* Header section */
.header{
  padding-top: 7rem;
  display: flex;
  justify-content: space-between;
}

.header__text{
  color: var(--color-text-header);
  font-size: 2rem;

}

.theme{
  display: flex;
  gap: 1.3rem;
  align-items: center;
}

.theme__text{
  font-size: 0.8rem;
  color: var(--color-text-header);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.theme__label-container{
  position: relative;
  z-index: 1;
  display: flex;
  width: 7.1rem;
  height: 2.6rem;
  padding: 0.5rem;
  border-radius: 1.3rem;
  overflow: hidden;
  background-color: var(--color-bg-controls);
  cursor: pointer;
}

.theme__label {
  flex: 1;
  cursor: pointer;
}
.theme__label:hover ~ .circle {
  background-color: var(--color-bg-circle-hover);
}
.circle{
  position: absolute;
  z-index: 1;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: var(--color-bg-circle);
  transition: all var(--transition-duration) ease;
}
.theme__switcher{
  position: relative;
}
.theme__switcher-indicators{
  width: 100%;
  position: absolute;
  display: flex;
  color: var(--color-text-header);
  top: -1rem;
  justify-content: space-around;
}
.hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

}

/* Screen */

.screen-container{
  padding-top: 2rem;
}
.screen{
  background-color: var(--color-bg-input);
  color: var(--color-text-input);
  text-align: right;
  border: none;
  font-size: 3.2rem;
  padding: 2.5rem 1rem;
  width: 100%;
  border-radius: 1rem;
  outline: 1px dashed var(--color-text-input);
}

.calc-body{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  align-items: center;
  gap: 1.8rem;
  text-align: center;
  margin-top: 2rem;
  background-color: var(--color-bg-controls);
  padding: 2rem;
  border-radius: .5rem;
}

.calc-body span{  
  width: 100%;
  background-color: var(--color-bg-key);
  box-shadow: 0 -2px 0 0 var(--color-shadow-key) inset;
  color: var(--color-text-body);
  font-size: 2.7rem;
  font-weight: bold;
  padding: 0.75rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: all var(--transition-duration) ease;
}

.calc-body span:hover{
  background-color: var(--color-bg-key-hover);
}

.calc-body span:active {
  background-color: var(--color-bg-key-active);
  box-shadow: 0px -3px 0px 0px var(--color-shadow-key) inset;
  transform: translateY(1px);
}

.calc-body .body__history{
  grid-column: 1/3;
  background-color: var(--color-bg-key-command);
  color: var(--color-text-key-command);
  box-shadow:  0px -4px 0px 0px var(--color-shadow-key-command) inset;
}
.calc-body .body__voice{
  grid-column: 3/5;
  background-color: var(--color-bg-key-command);
  color: var(--color-text-key-command);
  box-shadow:  0px -4px 0px 0px var(--color-shadow-key-command) inset;
}
.calc-body .body__reset{
  grid-column: 1/3;
  background-color: var(--color-bg-key-command);
  color: var(--color-text-key-command);
  box-shadow:  0px -4px 0px 0px var(--color-shadow-key-command) inset;
}
.calc-body .body__equal{
  grid-column: 3/5;
  background-color: var(--color-bg-key-equal);
  color: var(--color-text-key-equal);
  box-shadow:  0px -4px 0px 0px var(--color-shadow-key-equal) inset; 
}

.calc-body .body__del {
  background-color: var(--color-bg-key-command);
  color: var(--color-text-key-command);
  box-shadow:  0px -4px 0px 0px var(--color-shadow-key-command) inset;
}
/* toggling themes */

[data-theme="dark"] .circle,
.theme__switcher-radio#dark:checked ~ .theme-switcher__control .circle {
  transform: translateX(0);
}

[data-theme="light"] .circle,
.theme__switcher-radio#light:checked ~ .theme-switcher__control .circle {
  transform: translateX(2.3rem);
}

[data-theme="vintage"] .circle,
.theme__switcher-radio#vintage:checked ~ .theme-switcher__control .circle {
  transform: translateX(4.5rem);
}